*{
    margin: 0px;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #444;
}

article{
    width: 100%;
    height: 540px;
    background-color: rgb(60, 6, 82);
    float: right;
    text-align: center;
    padding-top: 40px;
}

@media only screen and (max-width: 600px){

  article{
    width: 100%;
    height: auto;
    min-height: 540;
    background-color: rgb(60, 6, 82);
    float: right;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  float: left;
  background-color: rgb(67, 43, 99);
  }

  .grid-item {
    background-color: rgb(185, 142, 149);
    border: 2px solid;
    height: 180px;
    font-size: 22px;
    text-align: center;
    width: 170px;
    margin: 20px;
  }

  .item{
    max-width: 128px;
    width: 100%;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 600px){

    .grid-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;
      width: 100%;
      float: left;
      background-color: rgb(67, 43, 99);
      margin: 0;
      }
    
      .grid-item {
        background-color: rgb(185, 142, 149);
        border: 1px solid;
        height: auto;
        width: 150px;
        font-size: 18px;
        text-align: center;
        margin: 10px;
      }
    
      .item{
        width: 128px;
        height: 128px;
        float: left;
        margin-left: 10px;
        margin-top: 5px;
        margin-right: 10px
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        background-color: #222;
        font-size: 12px;
      }

  }

  .uu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .ii {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #222;
  }
  
  li a:hover:not(.active) {
    background-color: #18a0fb;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .ee{
    background-color: #555;
    font-size: 20px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #222;
    border-radius: 10px;
  }

  .sd{
    float: right;
  }

  .pop{
    background-color: rgb(60, 6, 82);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    font-size: 48px;
  }

  .pop > .okn{
    width: 30%;
    min-height: 100px;
    background-color: blueviolet;
    margin: 20px;
    padding-top: 40px;
  }

  @media only screen and (max-width: 600px){

    .pop{
      background-color: rgb(60, 6, 82);
      width: 100%;
      float: left;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      text-align: center;
      padding: 0px;
      margin: 0px;
      font-size: 32px;
    }
  
    .pop > .okn{
      width: 90%;
      min-height: 80px;
      background-color: blueviolet;
      margin: 10px;
      padding-top: 20px;

  }
}

.bar{
  width: 100%;
  min-height: 100px;
  background-color: rgb(41, 18, 124);
  overflow: hidden;
  font-size: 56px;
  text-align: center;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.kuj{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(67, 43, 99);
}

.kuj > .kej{
  width: 18%;
  max-width: 600px;
  min-height: 300px;
  height: 12%;
  margin: 20px;
  overflow: hidden;
  font-size: 24px;
  background-color: purple;
}
  
#imm{
  width: 96%;
  margin-top: 2%;
}

@media only screen and (max-width: 600px){

  .kuj{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(67, 43, 99);
  }
  
  .kuj > .kej{
    width: 80%;
    max-width: 560px;
    max-height: 400px;
    height: 60%;
    margin: 20px;
    overflow: hidden;
    font-size: 24px;
    background-color: purple;
  }
    
  #imm{
    width: 96%;
    margin-top: 2%;
  }

  .loli{
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}

footer{
  background-color: #222;
  width: 100%;
  min-height: 300px;
  float: left;
  text-align: center;
  color: white;
}

footer > .foot{
  width: 100%;
  height: 60px;
  background-color: #111;
  float: left;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}

.fot{
  color: #555;
  text-align: center;
  overflow: hidden;
  width: 40%;
  min-height:60px;
  margin-left: auto;
  margin-right: auto;
}

.icc{
  width: 30%;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.ff{
  border: 1px;
  border-color: white;
  float: left;
  list-style: none;
  margin: 10px;
}

.imug{
  width: 32px;
  height: 32px;
}

.formm{
  margin-left: auto;
  margin-right: auto;
}

.for{
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
  margin-top: 40px;
  text-align: center;
}

.loli{
  width: 800px;
  height:500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}