*{
    margin: 0px;
    padding: 0;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #444;
}

section{
    background-color: grey;
    width: 10%;
    height:640px;
    float: left;
}

article{
    width: 90%;
    height: 600px;
    background-color: cornflowerblue;
    float: right;
    text-align: center;
    padding-top: 40px;
}

@media only screen and (max-width: 600px){

  section{
    background-color: grey;
    width: 100%;
    height: auto;
    float: left;
}

  article{
    width: 100%;
    height: auto;
    background-color: cornflowerblue;
    float: right;
    text-align: center;
    padding-top: 40px;
  }
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  float: left;
  background-color: #04AA6D;
  }

  .grid-item {
    background-color: crimson;
    border: 1px solid;
    height: 180px;
    font-size: 22px;
    text-align: center;
    width: 170px;
    margin: 20px;
  }

  .item{
    max-width: 128px;
    width: 100%;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 600px){

    .grid-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;
      width: 100%;
      float: left;
      background-color: #04AA6D;
      margin: 0;
      }
    
      .grid-item {
        background-color: crimson;
        border: 1px solid;
        height: auto;
        width: 150px;
        font-size: 18px;
        text-align: center;
        margin: 10px;
      }
    
      .item{
        width: 128px;
        height: auto;
        float: left;
        margin-left: 10px;
        margin-top: 5px;
        margin-right: 10px;
      }

  }

  
  img{
      width: 50%;
      height: auto;
  }

  .uu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .ii {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #18a0fb;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .ee{
    background-color: #555;
    font-size: 20px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
  }

  .pop{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
  }

  .pop > .okn{
    width: 30%;
    height: 200px;
    background-color: blueviolet;
    margin: 20px;
  }

  @media only screen and (max-width: 600px){

    .pop{
      background-color: aqua;
      width: 100%;
      float: left;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      text-align: center;
      padding: 0px;
      margin: 0px;
    }
  
    .pop > .okn{
      width: 90%;
      min-height: 200px;
      height: 200px;
      background-color: blueviolet;
      margin: 10px;

  }
}

.bar{
  width: 100%;
  height: 100px;
  background-color: darkmagenta;
  overflow: hidden;
  font-size: 50px;
  text-align: center;
  overflow: hidden;
  padding-top: 25px;
}

.kuj{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: greenyellow;
}

.kuj > .kej{
  width: 18%;
  max-width: 600px;
  max-height: 400px;
  height: 12%;
  margin: 20px;
  overflow: hidden;
  font-size: 24px;
  background-color: deeppink;
}
  
#imm{
  width: 96%;
  margin-top: 2%;
}

@media only screen and (max-width: 600px){

  .kuj{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: greenyellow;
  }
  
  .kuj > .kej{
    width: 80%;
    max-width: 560px;
    max-height: 400px;
    height: 60%;
    margin: 20px;
    overflow: hidden;
    font-size: 24px;
    background-color: deeppink;
  }
    
  #imm{
    width: 96%;
    margin-top: 2%;
  }
}

footer{
  background-color: #222;
  width: 100%;
  height: 300px;
  float: left;
  text-align: center;
  color: white;
}

footer > .foot{
  width: 100%;
  height: 60px;
  background-color: #111;
  float: left;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}

.fot{
  color: #555;
  text-align: center;
  overflow: hidden;
  width: 40%;
  height:100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.icc{
  width: 30%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.ff{
  border: 1px;
  border-color: white;
  float: left;
  list-style: none;
  margin: 10px;
}

.imug{
  width: 32px;
  height: 32px;
}